body { 
/*background-color: #aaa;*/
background-image:url(../images/cork-wallet.png);
margin-bottom: -50px;
}

.Htainer{
width: 100%;
height: 88px;
background-color:white;
}

.Hwidth{
width:960px;
height: 80px;
margin-left: 150px;
padding-bottom: 0px;
}

h1{
float: left;
background-color: #4aaaa5;
color: white;
padding: 15px}

.Three{
float: right;
color: grey;
margin-top: 50px;
background-color: white;
overflow: auto;
}

.Mtainer{
width: 560px;
margin-left: 150px;
background-color: white;
margin-top: 30px;
}

.SubTainer{
margin-left: 50px;
background-color:white;
height: auto;
overflow: auto;
}

.AbtHead{
font:;
font-size: 30px;
content: 50px;
color: #4aaaa5;
border-bottom: 2px solid;
border-color: grey;
background-color: white;
}

p{
color:grey;
}

.ProfilePic{
float: left;
margin-top: 75px;
padding: 20px;
}

.MainCon{
float: right;
position: relative;
left:275px;
top: -410px;
margin-top: 20px;
}

.ConHead{
font-size: 20px;
content: 50px;
color: #4aaaa5;
border-bottom: 2px solid;
border-color: grey;
background-color: white;
padding-bottom: 10px;
}


.ThreeLinks{
padding-top: 25px;
background-color: white;
overflow: auto;
}


footer{margin-top: 10%;
padding-top: 30px;
text-align: center;
background-color: grey;
border-top: 4px solid;
border-color: #4aaaa5;
color:white;
width: 100%;
clear: both;
}

img.resize {
max-width:50px;
max-height:50px;
float: left;
}

img.resize2 {
max-width:100px;
max-height:100px;
float: left;
}

img.resize3{
max-width:200px;
max-height:200px;
}

.pic{
float:left;
margin-top: 75px;
padding: 20px;
}


.clearfix {
clear: both;
content: "  ";
display: block;
}

@media screen and (max-width:768px) {
 

.Htainer{
width: 758px;
height: 88px;
background-color:white;
}

.Hwidth{
width:85%;
height: 80px;
margin-left: 25px;
padding-bottom: 0px;
}

h1{
float: left;
background-color: #4aaaa5;
color: white;
padding: 15px}

.Three{
float: right;
color: grey;
margin-top: 50px;
margin right: 0px;
}

.Mtainer{
width: 568px;
margin-left: 50px;
background-color: white;
margin-top: 30px;
}

.SubTainer{
	width:85%;
	padding: 10%;

background-color:white;
height: auto;
}

.ProfilePic{
float: left;

}

img.resize2 {
max-width:auto;
max-height:auto;
float: left;
}

p{
font-size: 24px;
color:grey;
}

.AbtHead{
font:;
font-size: 30px;
content: 50px;
color: #4aaaa5;
border-bottom: 2px solid;
border-color: grey;
background-color: white;
}



.MainCon{
position: relative; top: 200px; left: -5%;
/*float: left;*/
width: 85%;
margin-bottom: 50px;

}

.ConHead{
font-size: 20px;
width: 85%;

color: #4aaaa5;
border-bottom: 2px solid;
border-color: grey;
background-color: white;
padding-bottom: 10px;
}


.ThreeLinks{
padding-top: 25px;
background-color: white;
}


footer{margin-top: 50%;
	margin-bottom: 1%;
padding-top: 30px;
padding-bottom: 50px;
text-align: center;
background-color: grey;
border-top: 4px solid;
border-color: #4aaaa5;
color:white;
width: 768px;
position: relative;

}

img.resize {
max-width:50px;
max-height:50px;
float: left;
}

img.resize3{
max-width:200px;
max-height:200px;
}

.pic{
float:left;
margin-top: 75px;
padding: 20px;
}

body { 
	width: 768px;
/*background-color: #aaa;*/
background-image:url(../images/cork-wallet.png);
}/*not sure why this doesn't work*/

.clearfix {
clear: both;
content: "  ";
display: block;
}

@media screen and (max-width:980px) {
  
.Htainer{
width: 958px;
height: 88px;
background-color:white;
}

.Hwidth{
width:85%;
height: 80px;
margin-left: 25px;
padding-bottom: 0px;
}

h1{
float: left;
background-color: #4aaaa5;
color: white;
padding: 15px}

.Three{
float: right;
color: grey;
margin-top: 50px;
margin right: 0px;
}

.Mtainer{
width: 768px;
margin-left: 50px;
background-color: white;
margin-top: 30px;
}

.SubTainer{
	width:85%;
	padding: 10%;

background-color:white;
height: auto;
}

.ProfilePic{
float: left;

}

img.resize2 {
max-width:auto;
max-height:auto;
float: left;
}

p{
font-size: 24px;
color:grey;
}

.AbtHead{
font:;
font-size: 30px;
content: 50px;
color: #4aaaa5;
border-bottom: 2px solid;
border-color: grey;
background-color: white;
}



.MainCon{
position: relative; top: 200px; left: -5%;
/*float: left;*/
width: 85%;
margin-bottom: 50px;

}

.ConHead{
font-size: 20px;
width: 85%;

color: #4aaaa5;
border-bottom: 2px solid;
border-color: grey;
background-color: white;
padding-bottom: 10px;
}


.ThreeLinks{
padding-top: 25px;
background-color: white;
}


footer{margin-top: 50%;
	margin-bottom: 1%;
padding-top: 30px;
padding-bottom: 50px;
text-align: center;
background-color: grey;
border-top: 4px solid;
border-color: #4aaaa5;
color:white;
width: 768px;
position: relative;

}

img.resize {
max-width:50px;
max-height:50px;
float: left;
}

img.resize3{
max-width:200px;
max-height:200px;
}

.pic{
float:left;
margin-top: 75px;
padding: 20px;
}

body { 
	width: 968px;
/*background-color: #aaa;*/
background-image:url(../images/cork-wallet.png);
}/*not sure why this doesn't work*/

.clearfix {
clear: both;
content: "  ";
display: block;
}
}

@media screen and (max-width:640px){}


.Htainer{
width: 958px;
height: 88px;
background-color:white;
position: static;
}

.Hwidth{
width:85%;
height: 80px;
margin-left: 25px;
padding-bottom: 0px;
}

h1{
float: left;
background-color: #4aaaa5;
color: white;
padding: 15px}

.Three{
float: right;
color: grey;
margin-top: 50px;
margin right: 0px;
}

.Mtainer{
width: 768px;
margin-left: 50px;
background-color: white;
margin-top: 30px;
}

.SubTainer{
	width:85%;
	padding: 10%;

background-color:white;
height: auto;
}

.ProfilePic{
float: left;

}

img.resize2 {
max-width:auto;
max-height:auto;
float: left;
}

p{
font-size: 24px;
color:grey;
}

.AbtHead{
font:;
font-size: 30px;
content: 50px;
color: #4aaaa5;
border-bottom: 2px solid;
border-color: grey;
background-color: white;
}



.MainCon{
position: relative; top: 200px; left: -5%;
/*float: left;*/
width: 85%;
margin-bottom: 50px;

}

.ConHead{
font-size: 20px;
width: 85%;

color: #4aaaa5;
border-bottom: 2px solid;
border-color: grey;
background-color: white;
padding-bottom: 10px;
}


.ThreeLinks{
padding-top: 25px;
background-color: white;
}


footer{margin-top: 50%;
	margin-bottom: 1%;
padding-top: 30px;
padding-bottom: 50px;
text-align: center;
background-color: grey;
border-top: 4px solid;
border-color: #4aaaa5;
color:white;
width: 768px;
position: relative;

}

img.resize {
max-width:50px;
max-height:50px;
float: left;
}

img.resize3{
max-width:200px;
max-height:200px;
}

.pic{
float:left;
margin-top: 75px;
padding: 20px;
}

body { 
	width: 968px;
/*background-color: #aaa;*/
background-image:url(../images/cork-wallet.png);
}/*not sure why this doesn't work*/

.clearfix {
clear: both;
content: "  ";
display: block;
}
}


